# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Virtual environment
venv/
env/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Google API secrets
credentials.json
token.json